<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/nav.css">
</head>

<body>
  <div class="header">

    <div class="sides">
      <a href="/login"><h1 class="logo">ES-RS</h1></a>
    </div>
    <div class="info">
      <h4>meals and serivice</h4>
      <h1>ES RESTAURANT</h1>
      <h2><a href="/home" class="Enter">Enter</a></h2>
    </div>
  </div>
  <div class="adjust">
  </div>
</body>

</html>