<form id="check" action="/register" method="post">
   <table align="center">
       <tr><td colspan="2" name="title">Register</td>
       </tr>
       <tr><td id="error" colspan="2"></td></tr>
       <tr><td class="in">Account:</td>
       <td><input type="text"  id="account" class="input" name="account"
              maxlength="15"/>
       </td></tr>
       <tr><td class="in">Password:</td>
       <td><input type="password" id="password" class="input" name="password"
             maxlength="15"/>
       </td></tr>
       <tr><td class="in">Username:</td>
       <td><input type="text" id="name" class="input" maxlength="15" name="username"/>
       </td></tr>
       <tr><td colspan="2" align="center">
       <input type="submit" value="Register" name="button" id="button"/>
       </td></tr> 
    </table>
</form>
