
       <button class="seat" id="A"><p>A</p><p class="statusA">(empty)</p></button>
       <button class="cleanA">CLEAN</button>
       <button class="seat" id="B"><p>B</p><p class="statusB">(empty)</p></button>
       <button class="cleanB">CLEAN</button>
       <button class="seat" id="C"><p>C</p><p class="statusC">(empty)</p></button>
       <button class="cleanC">CLEAN</button>
       <button class="seat" id="D"><p>D</p><p class="statusD">(empty)</p></button>
       <button class="cleanD">CLEAN</button>
