<!DOCTYPE html>
<html>     
<head>
<meta charset="utf-8" />
<title>loading</title>
<link rel="stylesheet" type="text/css" href="css/transition.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src='js/transition.js'></script>
</head>
<body>
    <div class="background1">

    </div>
    <p>NO EMPTY SEAT, PLEASE NOTIFY OUR STAFF<br><span class="anime"></span></p>
</body>
</html>